.container {
    justify-content: space-between;
    padding: 50px;
    max-width: 800px;
    gap: 20px
}

.searchInput {
    flex-grow: 1;
}

@media (max-width: 768px) {
    .searchInput {
        width: 100%;
        order: -1;
    }
}